@import "utilities/initial-variables";
@import "utilities/functions";
@import "utilities/derived-variables";
@import "utilities/animations";
@import "utilities/mixins";
@import "utilities/controls";

@import "base/generic";
html {
  overflow-y: auto;
}

html.is-modal-active {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
}

@import "base/helpers";
@import "base/minireset";

.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis,
.button,
.input,
.textarea,
.select select,
.file-cta,
.file-name {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
}

@import "layout/hero";
.hero-body {
  background-image: url('/img/blog/public.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

@import "layout/section";
.section {
  padding: 1.5rem 1.5rem;
}

@import "layout/footer";
@import "components/breadcrumb";
@import "components/card";

.card-categories {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card-margin {
  margin-bottom: 0.75rem;
}

.card-header {
  background-color: none;
  border-bottom: 1px solid $grey-lighter;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-content-categories {
  border: 1px solid #dbdbdb;
  &:hover {
    border: 1px solid #b5b5b5;
  }
}

.card.data {
  width: 100%;
  text-align: center;

  .card-content {
    font-size: 3em;
    font-weight: 700;
  }
}

.card-content.image-content {
  padding: 0;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  margin-top: 4em;
  top: 78px;
}

.column.side {
  @media screen and (min-width: $desktop) {
    max-width: 300px;
  }
}

.column.main {
  @media screen and (max-width: $desktop) {
    .card.article:first-child {
      margin-top: 0;
    }
  }
}

$dropdown-content-radius: 0;
@import "components/dropdown";
.dropdown-menu {
  display: none;
  left: 0;
  min-width: 0;
  margin-top: -1px;
  padding-top: 0;
  padding-left: 1px;
  padding-right: 1px;
  position: absolute;
  top: 100%;
  z-index: 20;
  width: 100%;
}

.dropdown-content {
  background-color: white;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding-bottom: 0;
  padding-top: 0;
}

.dropdown-item {
  display: block;
  padding: 12px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
}

a.dropdown-item.is-active {
  font-weight: 700;
  background: #f3f3f3;

  &:hover {
    color: $white;
    background: $danger;
  }
}

a.dropdown-item:hover {
  color: $white;
  background: $cyan;
}

a.dropdown-item:not(:hover) {
  color: $black;
  &:not(.is-active) {
    background: $white;
  }
}

@import "components/level";
@import "components/media";

$menu-label-color: $grey;
$menu-item-color: $white;
$menu-item-active-background-color: $white;
$menu-item-active-color: $black;
$menu-item-hover-background-color: $grey-darker;
$menu-item-hover-color: $white;
@import "components/menu";
.menu-label:not(:last-child) {
  margin-bottom: 1em;
  margin-left: .5em;
}
aside.menu {
  position: fixed;
  width: inherit;
  background: $grey-dark;
  padding-top: 1em;
}
.menu-list {
  line-height: 26px;
}
.menu-list a {
  border-radius: 0;
  color: white;
  display: block;
  padding: 0.5em 0.75em;
}

@import "components/message";
@import "components/modal";
.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 118px);
  overflow: auto;
  position: relative;
  width: 100%;
}

.modal.is-active {
  align-items: start;
}

.modal-content,
.modal-card {
  top: 52px;
  &.small {
    width: 640px;
  }
  &.medium {
    width: 840px;
  }
}

$navbar-burger-color: red;
@import "components/navbar";
.navbar.is-grey-dark {
  background-color: $grey-dark;
}
.is-fullheight {
  height: calc(100vh - (#{$navbar-height}));
}

@import "components/pagination";
@import "components/panel";
@import "components/tabs";
@import "elements/box";
@import "elements/button";
@import "elements/container";
.container.container-admin {
  margin: 0;
  position: relative;
}

@import "elements/content";
.content h2,
.content h3,
.content h4,
.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 0;
}

.content h3:not(:first-child) {
  margin-top: 0;
}

.content ul,
.content ol,
.content ol:not(:last-child),
.content ul:not(:last-child) {
  margin-left: 3em;
  margin-top: -1em;
}

.content ul,
.content ol,
.content li + li {
  line-height: .7;
}
.content li + li {
  margin-top: 0;
}


@import "elements/form";
@import "elements/icon";
@import "elements/image";
.image.small {
  float: left;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 70px;
}

.zoom-in {
  cursor: zoom-in;
}

.help-image {
  position: absolute;
  z-index: 1;
  bottom: 37px;
  text-align: center;
  width: 100%;
  background: white;
}

@import "elements/notification";
.notification {
  border-radius: 0;
  padding: 0.8rem 1.25rem 0 1.25rem;
  position: fixed;

  opacity: 0;
  visibility: hidden;
  margin-top: -3.25rem;
  z-index: 41;
  min-height: 52px;
  max-height: 52px;
  overflow-y: hidden;
  width: 100%;

  -webkit-transition: visibility .5s, opacity .5s linear;
  -moz-transition: visibility .5s, opacity .5s linear;
  -ms-transition: visibility .5s, opacity .5s linear;
  -o-transition: visibility .5s, opacity .5s linear;
  transition: visibility .5s, opacity .5s linear;
}

@import "elements/progress";
.progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  border: none;
  display: block;
  height: 26px;
  overflow: hidden;
  padding: 0;
  width: 209px;
  margin-left: 4px;
  border-radius: 4px;
}
progress[value]::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.7);
}
progress[value]::-webkit-progress-value {
  background: rgba(0, 209, 178, 0.7);
}

progress.has-value {
  position: absolute;
  z-index: 1;
  bottom: 41px;
}

progress.has-value:after {
  content: attr(value)'%';
  position: absolute;
  top: 5px;
  left: 52%;
  transform: translateX(-50%);
  line-height: 1rem;
}

@import "elements/table";
th.is-fa-lg {
  width: 43px;
}
th.is-2 {
  width: 200px;
}

@import "elements/tag";
@import "elements/title";
@import "elements/other";
@import "grid/columns";
.column.is-2.is-fixed-2 {
  width: 200px;
}

@import "grid/tiles";


@import "fontawesome";
@import "brands";
@import "regular";
@import "solid";

i.fa {
  margin-left: 0.1875em;
  margin-top: 0.1075em;
}

i.fas {
  margin-right: 0.1875em;
  margin-top: 0.1075em;
}

@import "flag-icon";

span.flag-icon {
  margin-right: 0.1875em;
}

[title].hover {
  border-bottom: 1px dotted $grey;
  &:not(a) {
    cursor: alias;
  }
}

.articles {
  margin: 5rem 0;
  margin-top: -200px;
  @media screen and (max-width: $tablet) {
    margin-top: -370px;
  }
}
.article {
  margin-top: 4rem;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.article-subtitle {
  margin-bottom: 3rem;
  margin-top: -1.25rem;
  font-size: 1rem;
  > span {
    color: $grey;
  }
}
.article-body {
  line-height: 1.4;
  white-space: pre-wrap;
  @media screen and (min-width: $desktop) {
    margin: 0 3rem;
  }
}

.article.additional {
  margin-top: 2rem;
  @media screen and (min-width: $desktop) {
    margin: 2rem 3rem 0 3rem;
  }
}

.article.actions {
  margin: 2rem 0 0 0;
  @media screen and (min-width: $desktop) {
    margin: 2rem 3rem 0 3rem;
  }
}

.comments {
  margin: 5rem 0;
  margin-top: 25px;
}
.comment {
  margin-top: 4rem;
}
.comment-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
  @media screen and (min-width: $desktop) {
    margin: 0 3rem;
  }
}
.comment-body {
  line-height: 1.4;
  @media screen and (min-width: $desktop) {
    margin: 0 3rem;
  }
}
.commentcount {
  font-style: italic;
  color: $grey;
}
.rightcommentcount {
  display: block;
  @media screen and (min-width: $desktop) {
    float: right;
  }
}

.public {
  background: rgba(249, 250, 245, 0.747);
  height: fit-content;
}

a {
  color: $cyan;
}

a.is-link-reversed {
  color: $black-ter;
  &:hover {
    color: $cyan;
  }
}

a.copy {
  color: $grey-darker;
  &:hover {
    color: $cyan;
  }
}

.pagebreak-link {
  margin: -3rem 0 0 0;

  @media screen and (min-width: $desktop) {
    margin: -3rem 3rem 0 3rem;
  }
}

.link-divider {
  color: #ddd;
  font-size: 13px;
  line-height: 1.5em;
}

.select.is-multiple.select-is-fullwidth {
  display: block;
}

.select select[multiple].select-is-fullwidth {
  width: 100%;
  border-radius: 0;
  overflow-y: auto;
  border: none;
}

.dropdown {
  display: block;
  position: relative;

  .dropdown-trigger > button.button {
    display: block;
    width: 100%;

    span {
      float: left;
    }

    .icon {
      margin-right: -4px;
      float: right;
    }
  }
  &:not(:hover) > .dropdown-trigger .button .icon {
    color: $cyan;
  }
}

.categories {
  font-style: italic;
  color: $grey;
}

a.anchor {
  display: block;
  position: relative;
  top: -.5em;
  visibility: hidden;

  &#comments {
    top: -3em;
  }

  &[id^='posts-'] {
    top: -5em;
  }
}

.is-scrollable {
  max-width: 100%;
  overflow-y: auto;
}

.submenu {
  background: $grey-dark;
  height: 52px;
  overflow: auto;
  white-space: nowrap;
  display: flex;

  a {
    margin: auto 0;
    padding: 14px 14px;
    display: inline-block;
    color: $white-ter;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    &.is-active {
      color: $black;
      background: $white;
    }
  }
}

.scrolltop {
  display: none;
  position: fixed;
  bottom: 20px;
  font-size: 3em;
  right: 4px;
  color: $grey-lighter;
  cursor: pointer;

  &:hover {
    color: $grey-light;
  }
}

.is-overflow-hidden {
  overflow: hidden;
}

.mce-tinymce.mce-container.mce-panel {
  border-color: #dbdbdb;
}
.mce-tinymce.mce-container.mce-panel:hover {
  border-color: #b5b5b5;
}
.mce-stack-layout-item {
  border: none !important;
}
.mce-btn {
  border: none !important;
}

.is-multiselect {
  min-height: 36px !important;

  .multiselect__tags {
    cursor: text;
    min-height: 36px;
    border-color: #dbdbdb;
    border-radius: 0;
    padding: 6px 40px 0 6px;
    &:hover {
      border: 1px solid #b5b5b5;
    }
  }
  .multiselect__option--highlight {
    background: $info;
  }
  .multiselect__option--selected.multiselect__option--highlight {
    background: $danger;
  }
  .multiselect__spinner:after, .multiselect__spinner:before {
    border-color: $info transparent transparent;
  }
  .arrow {
    cursor: text;
    pointer-events: none;
    position: absolute;
    width: 40px;
    height: 34px;
    right: 1px;
    top: 1px;
    padding: 6px 6px;
    text-align: center;
  }
  &:not(:hover) > .arrow {
    color: $cyan;
  }
}

.displayicon + i {
  display: none;
}
.displayicon:hover + i {
  display: initial;
}

.visibleicon + i {
  visibility: hidden;
}
.visibleicon:hover + i {
  visibility: visible;
}

.vdp-datepicker__calendar {
  .cell.selected {
    color: $white !important;
    background: $cyan !important;
  }
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  &:not(.selected) {
    border: 1px solid #b5b5b5 !important;
  }
  border: 1px solid transparent !important;
}

.searchlight {
  background: yellow;
}

.is-marginless-bottom {
  margin-bottom: 0 !important;
}

.is-block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.input-image {
  border: none;
}

.card-square {
  width: 217px;
  height: 217px;
  display: inline-block;
  overflow: hidden;

  margin-top: 5px;
  margin-right: 11px;

  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);

  &.is-selected {
    -webkit-box-shadow: 0 0 0 5px rgba(0, 209, 178, 1);
            box-shadow: 0 0 0 5px rgba(0, 209, 178, 1);
  }

  .card-content-square {
    padding: 0;
  }

  .image-square {
    width: 217px;
    height: 220px;
    object-fit: cover;
    cursor: pointer;
  }
}

.card-square-input {
  width: 217px;
  height: 257px;
  display: inline-block;
  overflow: hidden;

  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;

  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);

  &.is-error {
    -webkit-box-shadow: 0 0 3px 3px rgba(255, 56, 96, 1);
            box-shadow: 0 0 3px 3px rgba(255, 56, 96, 1);
  }

  .card-content-square-input {
    padding: 0;
  }

  .image-square-input {
    width: 217px;
    height: 220px;
    object-fit: cover;

    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .image-square-loading {
    height: 220px;
    text-align: center;
    display: table;
    width: 100%;

    i {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .droparea {
    width: 100%;
    display: table;
    color: $cyan;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }

    .icon-square {
      height: 257px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      pointer-events: none;
    }
  }

  &:hover > .card-content-square-input > .droparea {
    color: $black;
  }
}

.card-square-droparea-hover {
  & > .card-content-square-input > .droparea {
    color: $black;
  }
  border: 2px dashed $black !important;
}

.card-square-droparea {
  border: 2px dashed $cyan;

  &:hover {
    border: 2px dashed $black;
  }
}

.card-square-actions {
  position: absolute;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, .7);
  margin: 4px;
  width: 26px;
  height: 26px;
  border-radius: 10%;
  text-align: center;
  display: table;

  a {
    color: $grey-dark;
    display: table-cell;
    vertical-align: middle;
    padding-top: 2px;

    &:hover > i {
      color: $black;
    }
  }
}

.card-square-success {
  position: absolute;
  z-index: 1;

  .triangle {
    border-left: 60px solid rgba(0, 209, 178, .95);
    border-bottom: 60px solid transparent;
  }
  i.fas {
    top: 11px;
    left: 7px;
    position: absolute;
    color: rgba(255, 255, 255, .7);
  }
}

.card-square-error {
  position: absolute;
  z-index: 1;
  height: 26px;
  bottom: 41px;
  width: 210px;
  margin-left: 4px;
  border-radius: 4px;
  background: white;
  text-align: center;
  background: rgba(255, 255, 255, .7);
  color: $danger;
  font-weight: 500;
}

.image-container {
  display: inline-block;
  overflow: hidden;

  img.zoom-in {
    cursor: zoom-in;

    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.editor {
  max-width: 766px;
}
