@import 'globals/variables';
@import 'globals/reset';
@import 'globals/site';
@import 'collections/breadcrumb';
@import 'collections/form';
@import 'collections/grid';
@import 'collections/menu';
@import 'collections/message';
@import 'collections/table';
@import 'elements/button';
@import 'elements/container';
@import 'elements/divider';
// @import 'elements/flag';
@import 'elements/header';
@import 'elements/icon';
// @import 'elements/image';
@import 'elements/input';
@import 'elements/label';
// @import 'elements/list';
@import 'elements/loader';
// @import 'elements/rail';
// @import 'elements/reveal';
@import 'elements/segment';
// @import 'elements/step';
// @import 'modules/accordion';
@import 'modules/checkbox';
@import 'modules/dimmer';
@import 'modules/dropdown';
// @import 'modules/embed';
// @import 'modules/modal';
// @import 'modules/nag';
@import 'modules/popup';
// @import 'modules/progress';
@import 'modules/rating';
// @import 'modules/search';
// @import 'modules/shape';
// @import 'modules/sidebar';
// @import 'modules/sticky';
// @import 'modules/tab';
@import 'modules/transition';
// @import 'modules/video';
// @import 'views/ad';
// @import 'views/card';
// @import 'views/comment';
// @import 'views/feed';
// @import 'views/item';
// @import 'views/statistic';

body {
  padding-top: 54px;
}

.ui.table {
  border: none;
  margin-top: 0;
}

.ui.pointing.label {
  margin-top: 0;
}

.ui.corner.label .icon {
    pointer-events: none;
}

.float-right {
  float: right;
}

.paddingless {
  padding: 0 !important;
}

.rating.pointer > i {
  cursor: pointer !important;
}

.nowrap {
  white-space: nowrap;
}

.highlight {
  background-color: yellow;
}

.ui.simple.dropdown:hover > .menu {
  overflow: visible;
  width: auto;
  height: auto;
  top: -253px !important;
  opacity: 1;
}

.ui.red {
  color: #B03060;
}
.ui.black {
  color: #000000;
}

.ui.breadcrumb {
  margin-top: 14px;
  margin-bottom: 24px;
}

.ui.star.rating .icon {
  width: .7em;
  height: auto;
  background: transparent;
  color: rgba(0, 0, 0, 0.15);
  text-shadow: none;
}

.fullwidth {
  width: 100%;
}
