
@import "font-awesome";

$font-family: Helvetica, Arial, sans-serif;

// semantic-ui
@import 'globals/all';
@import 'views/all';
@import 'modules/all';
@import 'elements/all';
@import 'collections/all';

$red: #DB2828;
$teal: #00b5ad;
$gray: #A0A0A0;
$blue: #2185d0;
$black: #1b1c1d;
$brown: #a5673f;
$error: #9F3A38;

.github {
  position: fixed;
  bottom: 0;
  right: 0;
  a {
    color: $black;
  }
  &:hover {
    opacity: .8;
  }
}

a {
  color: $red;
  &:hover {
    color: $black;
  }
}


a.ui.secondary {
  color: $gray;
  &:hover {
    color: $black;
  }
}

small.error {
  color: $error;
}

.ui.form .field.error > label {
  margin-bottom: 0;
}

.social:hover {
  opacity: .8;
}

table > thead.left > h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

.ui.grid > .column:not(.row) {
  padding-top: 0;
  padding-bottom: 0;
}
