
@import "font-awesome";

$font-family: Helvetica, Arial, sans-serif;

// semantic-ui
@import 'globals/all';
@import 'views/all';
@import 'modules/all';
@import 'elements/all';
@import 'collections/all';

$red: #DB2828;
$teal: #00b5ad;
$black: #1b1c1d;

.github {
  position: fixed;
  bottom: 0;
  right: 0;
  a {
    color: #000000;
  }
}
.github:hover {
  opacity: .8;
}

a {
  color: $red;

}

a:hover {
  color: black;
}
